*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    height: 100%;
    background-color: rgb(181, 222, 181);
}
#main h1{
    text-decoration: underline;
    text-shadow: 0 0 2rem red;
}
#panel{
    width: 80%;
    height: 80%;
    background-color: #fff;
    border-radius: 1rem;
    overflow: hidden;
}
#panelTop{
    padding: 0 20%;
    width: 100%;
    height: 5rem;
    background-color: rgb(67, 165, 67);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.elem{
    display: flex;
    gap: 1rem;
    align-items: center;
    color: #fff;
}
.box{
    background-color: #fff;
    padding: 0.35rem;
    font-weight: 800;
    font-size: 2rem;
    border-radius: 0.25rem;
    color: #000;
}
#panelBottom{
    width: 100%;
    height: calc(100% - 5rem);
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.985rem;
    flex-wrap: wrap;
}
.bubble{
    width:3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    border-radius: 50%;   
    background-color: rgb(98, 222, 98);
}
.bubble:hover{
    background-color: rgb(82, 184, 82);
    cursor: pointer;
}